# Transaction Analysis for Fraud Detection

In [13]:
#!/bin/bash

!cd ..
!mkdir -p data

!curl -L -o data/fraud-detection-transactions-dataset.zip \
  https://www.kaggle.com/api/v1/datasets/download/samayashar/fraud-detection-transactions-dataset

!unzip -o data/fraud-detection-transactions-dataset.zip -d data

!rm data/fraud-detection-transactions-dataset.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 2055k  100 2055k    0     0  1329k      0  0:00:01  0:00:01 --:--:-- 3872k
Archive:  data/fraud-detection-transactions-dataset.zip
  inflating: data/synthetic_fraud_dataset.csv

In [1]:
import pandas as pd

In [15]:
PATH = 'data/synthetic_fraud_dataset.csv'

In [16]:
df = pd.read_csv(PATH)

print(f'\nDataset size: {df.shape}\n')
df.head()

Dataset size: (50000, 21)

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Timestamp,Account_Balance,Device_Type,Location,Merchant_Category,IP_Address_Flag,...,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Type,Card_Age,Transaction_Distance,Authentication_Method,Risk_Score,Is_Weekend,Fraud_Label
0,TXN_33553,USER_1834,39.79,POS,2023-08-14 19:30:00,93213.17,Laptop,Sydney,Travel,0,...,7,437.63,3,Amex,65,883.17,Biometric,0.8494,0,0
1,TXN_9427,USER_7875,1.19,Bank Transfer,2023-06-07 04:01:00,75725.25,Mobile,New York,Clothing,0,...,13,478.76,4,Mastercard,186,2203.36,Password,0.0959,0,1
2,TXN_199,USER_2734,28.96,Online,2023-06-20 15:25:00,1588.96,Tablet,Mumbai,Restaurants,0,...,14,50.01,4,Visa,226,1909.29,Biometric,0.8400,0,1
3,TXN_12447,USER_2617,254.32,ATM Withdrawal,2023-12-07 00:31:00,76807.20,Tablet,New York,Clothing,0,...,8,182.48,4,Visa,76,1311.86,OTP,0.7935,0,1
4,TXN_39489,USER_2014,31.28,POS,2023-11-11 23:44:00,92354.66,Mobile,Mumbai,Electronics,0,...,14,328.69,4,Mastercard,140,966.98,Password,0.3819,1,1